@model JWST.Models.importantFacts

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>importantFacts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IFTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IFTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IFText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IFText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pictureURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pictureURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>

@section Scripts {
    <script>
            $(document).ready(function(){
                $('.aside').remove();
            });
        </script>
}
