@model JWST.Models.importantFacts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>importantFacts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IFTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IFTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IFText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IFText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pictureURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pictureURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.aside').remove();
        });
    </script>
}
